<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Farm</title>
  </head>
  <body>
    <h1>Add New Farm</h1>
    <form action="/farms" method="post">
      <label for="name">Name: </label
      ><input
        name="name"
        id="name"
        type="text"
        placeholder="Enter name"
      /><br />
      <label for="city">City: </label
      ><input
        name="city"
        id="city"
        type="text"
        placeholder="Enter city"
      /><br />
      <label for="email">Email: </label
      ><input
        name="email"
        id="email"
        type="email"
        step="0.01"
        placeholder="Enter email"
      />
      <button>Submit</button>
    </form>
  </body>
</html>
