body {
    background-color: #E9F6FF;
}

h1, h2 {
    font-family: 'Castoro Titling', serif;
    color: #280274;
}

.member-list {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.custom-btn {
    background-color: #3652AD;
}

.member-name {
    text-decoration: none;
    font-size: 1.5em;
    box-shadow: inset 0 0 0 0 #3eb0da;
    color: #3eb0da;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.member-name:hover {
    box-shadow: inset 200px 0 0 0 #3eb0da;
    color: white;
}

.card {
    width: 28rem;
}

.member-detail {
    font-family: 'Roboto', sans-serif;
}

.member-detail::marker {
    color: #3652AD;
}

.left-key, .input-label {
    color: #3652AD;
}