<%- include('../partials/head') %>

    <title>Home</title>
</head>
<body>

    <h1 class="display-1 d-flex justify-content-center">HRM of CSE</h1>
    <!-- <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                
            </div>
        </div>
    </div> -->


    <div class="d-grid gap-2 col-6 mx-auto"> 
        <a href="/academic"><button type="button" class="btn btn-block btn-primary"> 
            Academic Staff
        </button></a>
        
        <a href="/nonacademic"><button type="button" class="btn btn-block btn-primary"> 
            Non-Academic Staff
        </button></a>
         
        <a href="/student"><button type="button" class="btn btn-block btn-primary"> 
            Students
        </button></a>
         
    </div> 
</body>
</html>