<%- include('../partials/head') %>

    <title>Home</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <h1 class="display-1 d-flex justify-content-center my-4">HRM of CSE</h1>
    <div class="d-grid gap-4 col-6 mx-auto"> 
        <a href="/academic" class="btn btn-block btn-primary btn-lg category-btn"> 
            Academic Staff
        </a>
        <a href="/nonacademic" class="btn btn-block btn-primary btn-lg category-btn"> 
            Non-Academic Staff
        </a> 
        <a href="/student" class="btn btn-block btn-primary btn-lg category-btn"> 
            Students
        </a>    
    </div> 
</body>
</html>