<%- include('../partials/head') %>
<title>Home</title>
<%- include('../partials/navbar') %>

    <h1 class="display-1 d-flex justify-content-center my-4">HRM of CSE</h1>
    <div class="d-grid gap-4 col-6 mx-auto"> 
        <a href="/hrm/academic" class="btn btn-block btn-primary btn-lg custom-btn"> 
            Academic Staff
        </a>
        <a href="/hrm/nonacademic" class="btn btn-block btn-primary btn-lg custom-btn"> 
            Non-Academic Staff
        </a> 
        <a href="/hrm/student" class="btn btn-block btn-primary btn-lg custom-btn"> 
            Students
        </a>    
    </div> 
    <%- include('../partials/footer') %>
